<%-include("./include/header.ejs")%>


<book-database class="page">
<!-- TODO: Create search criteria for people to access the Open Book API to get info n their books of choice
Utilize GETs, Form to input search criteria and post to a separate database ejs to show search results-->

    <div id="database-search-form">
        <form id="search-form" action="/database" method="POST">
            <label for="book-title">Find Your Book</label>
            <input type="search" id="book-title" name="title" placeholder="<%=locals.placeholderMessage%>"/>
            <button type="submit" value=<%=locals.title%>>Search</button>
        </form>
    </div>
<!-- TODO: abstract to it's own EJS file -->
    <div class="page-counter-div-container">
        <form class="page-form-flex-container" action="/database/page-select" method="POST">
            <input type="hidden" name="pageCount" value="<%=locals.pageCount%>"/>
            <input type="hidden" name="resultCount" value="<%=locals.resultNumber%>"/>
            <input type="hidden" name="results" value="<%=JSON.stringify(locals.results)%>"/>
            <input type="hidden" name="authorNames" value="<%=JSON.stringify(locals.authors)%>"/>
            <input type="hidden" name="imgURLs" value="<%=JSON.stringify(locals.imgURLs)%>"/>
            <input type="hidden" name="titles" value="<%=JSON.stringify(locals.titles)%>"/>
            <%for(let x = 0; x < locals.pageCount; x++){%>
                <div>
                    <label id="page-label" for="page">Page</label>
                    <button class="page-button" name="page" type="submit" value="<%=x%>"><%=x + 1%></button>
                </div>
            <%}%>
        </form>
     </div>

    <!-- Having Z start at 1 as the array is a multidimensional array to skip the empty array in authors sequence;-->
  
    <%for(let x = locals.currentSearchPos, y = locals.currentPage, z=0; x < locals.resultNumber && x < locals.pageLimit; x++, z++){%>
        <div id="search-results">
            <div>
                <img class="searchImg" src="<%=locals.imgURLs[y][z]%>"/>
            </div>
            <div class="search-details">
                <p>Title: <%=locals.titles[x]%></p>
                <p>Authors:
                <%for(let w = 0; w < locals.authors[x].length; w++){%>
                    <%=locals.authors[x][w]%> <%if(locals.authors[x].length > 1 && w + 1 !== locals.authors[x].length){%> , <%}%>
                <%}%>
                </p>
            </div>
        </div>
    <%}%>
    

</book-database>


<%-include("./include/footer.ejs")%>